.header{
    border-style:solid; 
    vertical-align:middle !important;
    text-align:center  !important;  
}
.span{        
    justify-content: center;
}

.label{   
  background-color: aqua;
  color:rgb(238, 234, 234);
  font-size: medium;
}

.logo {
      height: 10vmax; 
    width:25vmin;  
    pointer-events: none;
  }

.footer{
  height: 10vmax; 
  width:100vmax;
  font-size:large ;
  color: rgba(38, 38, 37, 0.451);
  justify-content: center;
}