
.label-Style4{
    background-color:black;
    color:white;
    font-size:30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.label-Style1{
    background-color:lightBlue;
    font-size:12 pt;
}
.label-Style2{
    background-color:lightgray;
    font-size:12 pt;
}
.label-Style3{
    background-color:lightpink;
    font-size:12 pt;
}